@model DoAnWEB.Models.Sach
@{
    ViewBag.Title = "Sach";
    Layout = "~/Areas/User/Views/Shared/_LayoutUser.cshtml";
}

<div id="content-page" class="content-page">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div class="iq-card iq-card-block iq-card-stretch iq-card-height">
                    <div class="iq-card-header d-flex justify-content-between align-items-center">
                        <h4 class="card-title mb-0">Thông tin</h4>
                    </div>
                    <div class="iq-card-body pb-0">
                        <div class="description-contens align-items-top row">
                            <div class="col-md-6">
                                <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height">
                                    <div class="iq-card-body p-0">
                                        <div class="row align-items-center">

                                            <div class="col-9">
                                                <ul id="description-slider" class="list-inline p-0 m-0  d-flex align-items-center">
                                                    <li>
                                                        <a href="javascript:void(0);">
                                                            <img src= "@Model.AnhBia" class="img-fluid w-100 rounded" alt="">
                                                        </a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="iq-card-transparent iq-card-block iq-card-stretch iq-card-height">
                                    <div class="iq-card-body p-0">
                                        <h3 class="mb-3">@Model.TenSach</h3>
                                        <div class="price d-flex align-items-center font-weight-500 mb-2">
                                            <span class="font-size-20 pr-2 old-price">@($"{Model.GiaBan:N0} đ")</span>
                                            <span class="font-size-24 text-dark">@($"{Model.GiaKM:N0} đ")</span>
                                        </div>

                                        <span class="text-dark mb-4 pb-4 iq-border-bottom d-block">@Model.MoTa</span>
                                        <div class="text-primary mb-4">Tác giả: <span class="text-body">@Model.TacGia.TenTacGia</span></div>
                                        <div class="text-primary mb-4">Thể loại: <span class="text-body">@Model.TheLoai.TenTL</span></div>
                                        <div class="text-primary mb-4">Nhà xuất bản: <span class="text-body">@Model.NhaXuatBan.TenNXB</span></div>
                                        <div class="text-primary mb-4">Số trang: <span class="text-body">@Model.SoTrang</span></div>
                                        <div class="mb-4 d-flex align-items-center">
                                            <a href="@Url.Action("ThemItem", "GioHang", new {masach = Model.MaSach, soluong = 1 })" class="btn btn-primary view-more mr-2">Thêm vào giỏ hàng</a>
                                            <a href="@Url.Action("ThemItem", "GioHang", new {masach = Model.MaSach, soluong = 1 })" class="btn btn-primary view-more mr-2">Mua ngay</a>
                                        </div>
                                        <div class="mb-3">
                                            <a href="#" class="text-body text-center"><span class="avatar-30 rounded-circle bg-primary d-inline-block mr-2"><i class="ri-heart-fill"></i></span><span>Thêm vào danh sách yêu thích</span></a>
                                        </div>
                                        <div class="iq-social d-flex align-items-center">
                                            <h5 class="mr-2">Chia sẻ:</h5>
                                            <ul class="list-inline d-flex p-0 mb-0 align-items-center">
                                                <li>
                                                    <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="avatar-40 rounded-circle bg-primary mr-2 youtube"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#" class="avatar-40 rounded-circle bg-primary pinterest"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

